<div class="container">
  <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="header">
      <h1><i class="icon-trash"></i>Clowow</h1>
      <h2>Share your favorite cloud pics with the world!</h2>
      <button type="button" class="upload btn btn-primary" data-toggle="modal" data-target="#uploadModal">Upload</button>
    </div>

    <div class="feed">
      <% @posts.each do |post| %>
      <div class="post" data-id="<%= post.id %>">
        <%= image_tag post.image.url %>
        <div class="info row">
          <div class="like-count col-xs-6 col-sm-4">
            <%= render "likes/like", post: post %>
          </div>
          <div class="location hidden-xs col-sm-4">
            <%= post.location %>
          </div>
          <div class="comment-count col-xs-6 col-sm-4">
            <a class="view-comments" href="#" data-post="<%= post.id %>"><%= pluralize post.comments.size, "comment" %></a>
          </div>
        </div>

        <div class="comments row">
          <% post.comments.each do |comment| %>
          <div class="comment col-sm-12">
            <hr>
            <%= comment.content %>
          </div>
          <% end %>
          <div class="col-sm-12">
            <%= render "new_comment_form", post: post %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <%= render "posts/form" %>
</div><!-- /.modal -->
