<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <img width="100" src="<%= @post.content %>">
</p>

<p>
  <strong>User:</strong>
  <a href="/users/<%= @post.user_id %>"><%= @post.user_id %></a>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
